doctype
html
  head
    
    block scripts
    block style  
  body

    nav#navbar
      ul
       
        
      
         li #[a(href="/Bookmark") Bookmark]
    block content
    footer#footer
        
        |Bookmark