h1{
    text-align: center;
}
.myInput{
    display: block;
    width: 40%;
    padding:9px;
    margin:8px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid#57d4af;
    outline:none;
}
.myForm{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.btn{
    padding:9px 12px;
    font-size:18px;
    border: 2px solid#57d4af;
    border-radius: 12px;
    color: burlywood;
background:#57d4af ;
margin-bottom: 5px;
cursor: pointer;
}
.btn:hover{
color:black;
}
.container{
    min-height: 80vh;
}